.sidebar {
  // FONTS
   h3 {
     font-weight: 400;
     font-size: 1.25rem;
  }

  .widget {
    margin-bottom: $block;
    padding: $block-padding;
    background: $gray-lighter;
    border-top: 1px solid $gray-light;
    border-bottom: 1px solid $gray-light;
  }
}

.sidebar {
  ul {
    list-style-type: square;
    color: darken($brand-primary, 10%);
  }
}
@include media-breakpoint-down(sm) {
  .sidebar {
    order: -1;
    max-width: 100%;
    flex: 0 0 100%;
  }
  .main {
    order: 1;
    max-width: 100% !important;
    flex: 0 0 100% !important;
  }
}
.sidebar {
  order: -1;

}
.main {
  order: 1;

}